{% include 'menu.html' %}

<body>
    <h1>About Us</h1>

    <div class="person">
        <img src="ruta_imagen_1.jpg" alt="Persona 1">
        <h2>Persona 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="person">
        <img src="ruta_imagen_2.jpg" alt="Persona 2">
        <h2>Persona 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="person">
        <img src="ruta_imagen_3.jpg" alt="Persona 3">
        <h2>Persona 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="person">
        <img src="ruta_imagen_4.jpg" alt="Persona 4">
        <h2>Persona 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</body>
</html>