{% include 'menu.html' %}
    <div>
        <h3>Blast (Under Construction)</h3>
    </div><br>
    <div class="row-cols-4">
        <form method=post action="/blast" enctype=multipart/form-data  onsubmit="return validarFormulario()">
            <div class="col">
                <input class="form-control" type="file" name="complementary" id="formFile" value="{{ request.form['formFile'] }}" accept=".fasta" disabled>
            </div>
            </div><br>
            <button class="btn btn-primary" type="submit" disabled>Submit</button>
            <span id="errorMessage">{{message}}</span>
        </form>

        <script>
          function validarFormulario() {
            var formFile = document.getElementById("formFile").value;
    
            if (formFile === "") {
              var errorMessage = document.getElementById("errorMessage");
              errorMessage.innerHTML = "Please fill the field";
              return false;
            }
            return true;
          }
        </script>
</body>
