{% include 'menu.html' %}
<link href="../static/text-color.css" rel="stylesheet">
<div class="container">
  <h3>CDS EXTRACT</h3>
  <div class="row-cols-4">
    <form method=post action="/cdsextract" enctype=multipart/form-data onsubmit="return validarFormulario()">
      <div class="col">
        <input class="form-control" type="file" name="extractcds" id="formFile" value="{{ request.form['formFile'] }}"
          accept=".gb">
      </div>
      <div class="col">
        <label>Filename output</label>
        <input class="form-control" type="text" name="user_filename" id="user_filename">
      </div>
  </div><br>
  <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <br>
  <p class="success">{{message}}</p>
  <i class="info_msg">{{info}}</i>

  <p class="err_msg">{{err_msg}}</p>
</div>
  <script>
    function validarFormulario() {
      var formFile = document.getElementById("formFile").value;

      if (formFile === "") {
        var errorMessage = document.getElementById("errorMessage");
        errorMessage.innerHTML = "Please fill the field";
        return false;
      }
      return true;
    }
  </script>
  </body>