{% include 'menu.html' %}
<div class="container">
    <h3>DNA to RNA</h3>
    <div class="row-cols-4">
        <form method=post action="/dnatorna" enctype=multipart/form-data>
            <div class="col">
                <input class="form-control" type="file" name="dnarna" id="formFile">
            </div>
            <div class="col">
                <label>Filename output</label>
                <input class="form-control" type="text" name="user_filename" id="user_filename">
              </div>
    </div><br>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {{ message }}
</div>
</body>