{% include 'menu.html' %}

<!-- <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"> -->
<link href="../static/text-color.css" rel="stylesheet">
  <div class="container">
    <h3>
      GenBank to Fasta
    </h3>

    <div class="row-cols-4">
      <form method=post action="/gbtofasta" enctype=multipart/form-data>
        <div class="col">
          <input class="form-control" type="file" name="gbfile" id="formFile">
        </div>
        <div class="col">
          <label>Filename output</label>
          <input class="form-control" type="text" name="user_filename" id="user_filename">
        </div>
    </div><br>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <p>{{message}}</p>
    <i class="info_msg">{{info}}</i>

    <p class="err_msg">{{err_msg}}</p>
  </div>
  <!-- <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{message}}</textarea>
        </div> -->