{% include 'menu.html' %}
 
    <div class="container">
      <h3>
        Global Alignment
      </h3> 
      <form method="post" action="/globalalignment" enctype="multipart/form-data">
        <div class="row row-cols-2">
          <div class="col">
            <div class="form-group">
              <label for="fasta1"> FASTA file 1</label>
              <input class="form-control" type="file" id="fastafile1" name="fasta1" accept=".fasta">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="fasta2"> FASTA file 2</label>
              <input class="form-control" type="file" id="fastafile2" name="fasta2"  accept=".fasta">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="match">Match score:</label>
              <input class="form-control" type="number" name="match" id="match" value="{{ request.form['match'] }}">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="mismatch">Mismatch score:</label>
              <input class="form-control" type="number" name="mismatch" id="mismatch" value="{{ request.form['mismatch'] }}">
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <label for="gap">Gap score:</label>
              <input class="form-control" type="number" name="gap" id="gap" value="{{ request.form['gap'] }}">
            </div>
          </div>
        </div><br>
        <button class="btn btn-primary" type="submit" >Enviar</button>
      </form>
      <p>{{ message }}</p>
    </div>
    <div>
    </div>
</body>