<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P</title>
</head>
<body>
    <div class="center">
        <table border=1 style="margin: 0 auto;" >
            {%for row in rows%}
            <tr>
                <td>{{row}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="../static/index.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="btn btn-outline-success" aria-current="page" href="/home">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><br>
  <!-- <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Query</th>
            <th>Result</th>
            <th>User ID</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>{{ result[0] }}</td>
              <td>{{ result[1] }}</td>
              <td>{{ result[2] }}</td>
              <td>{{ result[3] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table> -->
  <form method="post" action="/history_query">
    <select name="query_order" id="query_order">
      <option value="random_sequence">random_sequence</option>
      <option value="local_alignment">local_alignment</option>
      <option value="global_alignment">global_alignment</option>
      <option value="gb_to_fasta">gb_to_fasta</option>
      <option value="cds_extract">cds_extract</option>
      <option value="dna_to_rna">dna_to_rna</option>
      <option value="dnaprotein">dnaprotein</option>
    </select>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Query</th>
        <th>Result</th>
        <th>Date</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td><a class="btn btn-primary" href="{{ url_for('download_file', filename=result[2]) }}">Download</a></td>
        <td>{{ result[4]}}</td>

        <!-- <td><button onclick="deleteRow({{ result[0] }})">Eliminar</button></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>