<!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../static/orderByDate.js"></script>
  <script></script>
  <!--  CSS  -->
  <link href="../static/styles.css" rel="stylesheet">

{% include 'menu.html' %}
  <form method="post" action="/history_query">
    <div class="form-group " style="margin-left: 30px; margin-right: 70%;margin-bottom: 20px;">
      <div class="input-group-prepend">
        <span for="filter">Filter by: </span> <br>
        <input class="input form-control" type="text" id="filter-input" placeholder="Filter by Query or Filename">
      </div>
    </div>
  </form>
  <table id="table" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Filename</th>
        <th>Query</th>
        <th>Result</th>
        <th id="start-date-header" class="asc">Start Date</th>
        <th id="finish-date-header" class="asc">Finish Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[6] }}</td>
        <td>{{ result[1] }}</td>
        <td><a class="btn btn-primary" href="{{ url_for('download_file', ident=result[0]) }}">Download</a></td>
        <td>{{ result[4] }}</td>
        <td>{{ result[5]}}</td>

        <td><a class="btn btn-outline-danger" href="{{ url_for('delete_file', ident=result[0]) }}">Delete</a></td>

        <!-- <td><button onclick="deleteRow({{ result[0] }})">Eliminar</button></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>