{% include 'menu.html' %}
  <form method="post" action="/history_query">
    <div class="form-group " style="margin-left: 30px; margin-right: 70%;margin-bottom: 20px;">
      <select class=" form-select ml-3" name="query_order" id="query_order">
        <option value="random_sequence">random_sequence</option>
        <option value="local_alignment">local_alignment</option>
        <option value="global_alignment">global_alignment</option>
        <option value="gb_to_fasta">gb_to_fasta</option>
        <option value="cds_extract">cds_extract</option>
        <option value="dna_to_rna">dna_to_rna</option>
        <option value="dnaprotein">dnaprotein</option>
      </select><br>
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Query</th>
        <th>Result</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Action(NOT WORKING)</th>
      </tr>
    </thead>
    <tbody>
      {% for result in results %}
      <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td><a class="btn btn-primary" href="{{ url_for('download_file', ident=result[0]) }}">Download</a></td>
        <td>{{ result[4] }}</td>
        <td>{{ result[5]}}</td>

        <td><button class="btn btn-outline-success">Eliminar</button></td>

        <!-- <td><button onclick="deleteRow({{ result[0] }})">Eliminar</button></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>