{% include 'menu.html' %}
<style>
    .justificado {
      text-align: justify;
    }
  </style>

<div class="container" style="height: 99%; overflow: auto;">
	<h1 class="mt-4 mb-4">Bioinformatics Tools</h1>
	<ol>
		<li>
			<h5>Image Recognition</h5>
			<p class="justificado">
				Our technology harnesses artificial intelligence algorithms to accurately analyze and interpret radiographic images. 
				Our tool is capable of detecting tumors, lung diseases, and other medical abnormalities in X-ray scans. 
				Leveraging machine learning and computer vision techniques, we provide fast and precise image analysis, assisting healthcare professionals in diagnosis and treatment planning. 
				Our goal is to enhance efficiency and accuracy in X-ray image interpretation, ultimately improving patient care and outcomes.</p>
		</li>
		<li>
			<h5>Extract CDS</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Genbank to Fasta</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>DNA to Protein</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>DNA to RNA</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Complementary Sequence</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Split Fasta</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Global Alignment</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Local Alignment</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Reverse Complementary</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Random Sequence</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
		<li>
			<h5>Random Sequence</h5>
			<p class="justificado">Tool description and instructions.</p>
		</li>
	</ol>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>