<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bioinformatics Tools</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
	</head>
	{% include 'menu.html' %}
	<body>
		<div class="container">
			<h1 class="mt-4 mb-4">Bioinformatics Tools</h1>
			<ol>
				<li>
                    <div class="container">
                        <h3>Image Recognition</h3>
						<ol>
							<li>
								<p>
									<strong>Input:</strong> The tool provides an
									input field where users can upload an image
									file containing an X-ray picture of the
									lungs. Users can either browse their local
									file system or drag and drop the image file
									into the input field.
								</p>
							</li>
							<li>
								<p>
									<strong>Submit:</strong> Once the user has
									selected the image file, they click the
									"Submit" button to initiate the analysis
									process.
								</p>
							</li>
							<li>
								<p>
									<strong>Image Processing:</strong> The tool
									performs image processing techniques to
									enhance the X-ray image and extract relevant
									features. This may involve adjusting
									contrast, resizing, or applying filters to
									improve the accuracy of the analysis.
								</p>
							</li>
							<li>
								<p>
									<strong>Feature Extraction:</strong> The
									tool analyzes the processed image to extract
									meaningful features that can help identify
									signs of pneumonia. This can include
									characteristics such as areas of opacity,
									consolidation, or infiltrates in the lung
									regions.
								</p>
							</li>
							<li>
								<p>
									<strong>Machine Learning Model:</strong> The
									tool employs a trained machine learning
									model specifically designed for pneumonia
									detection. The model has been trained on a
									large dataset of X-ray images, including
									both pneumonia-positive and
									pneumonia-negative cases.
								</p>
							</li>
							<li>
								<p>
									<strong>Prediction:</strong> The extracted
									features from the image are fed into the
									machine learning model, which makes a
									prediction regarding the presence of
									pneumonia. The model classifies the image as
									either "Pneumonia Detected" or "No Pneumonia
									Detected" based on the learned patterns and
									features.
								</p>
							</li>
							<li>
								<p>
									<strong>Result:</strong> The tool displays
									the prediction result to the user. If the
									model detects pneumonia in the uploaded
									X-ray image, it presents a message
									indicating that pneumonia is detected and
									recommends the user to consult a healthcare
									professional. If no pneumonia is detected,
									it displays a message stating that no
									pneumonia is detected, providing some relief
									to the user.
								</p>
							</li>
							<li>
								<p>
									<strong>Additional Information:</strong>
									Alongside the result, the tool can provide
									additional information such as the
									confidence score or probability of the
									prediction to indicate the model's level of
									certainty.
								</p>
							</li>
							<li>
								<p>
									<strong>Important Note:</strong> It's
									important to note that the accuracy and
									reliability of the tool heavily depend on
									the quality of the training data, the
									performance of the machine learning model,
									and the accuracy of the feature extraction
									techniques employed. Continuous refinement
									and evaluation of the model are necessary to
									ensure the tool's effectiveness in pneumonia
									detection. Additionally, the tool should
									always be used as a supportive tool and not
									a substitute for professional medical
									diagnosis.
								</p>
							</li>
						</ol>
					</div>
				</li>
				<li>
					<h5>Extract CDS</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Genbank to Fasta</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>DNA to Protein</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>DNA to RNA</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Complementary Sequence</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Split Fasta</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Global Alignment</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Local Alignment</h5>
					<p>Tool description and instructions.</p>
				</li>
				<li>
					<h5>Reverse Complementary</h5>
					<p>Tool description and instructions.</p>
				</li>
			</ol>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
