{% include 'menu.html' %}
    <div class="container text-center">
        <!-- <div class="mt-1 row g-3 gap-3 row-cols-1">
            <div class="col">
            <form method="post" action="/chat" enctype="multipart/form-data">
            <input  type="text"  class="form-control" id="message" name="message"/>
            <button class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-reply"></i></button>
            </form>
        </div>   -->
        <form method="post" action="/chat" enctype="multipart/form-data">
        <div class="input-group mb-3">

            <input type="text" class="form-control"  id="message" name="message" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-reply"></i></button>

        </div>
    </form>
        </div>
        <div class="container text-center">
            <div class="mt-5 row">
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Image Recognition</h5>
                            <p class="card-text">Identify if the image contains any diseases.</p>
                            <a class="btn btn-secondary" href="/iamlr" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Local Alignment</h5>
                            <p class="card-text">Make the local alignment between 2 sequences.</p>
                            <a class="btn btn-secondary" href="./localalignment" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Complementary</h5>
                            <p class="card-text">Get the complementary sequence.</p>
                            <a class="btn btn-secondary" href="/complementary" class="card-link">Try</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Global Alignment</h5>
                            <p class="card-text">Make the global alignment between 2 sequences.</p>
                            <a class="btn btn-secondary" href="./globalalignment" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Random Sequence</h5>
                            <p class="card-text">Create a random sequence as long as you want.</p>
                            <a class="btn btn-secondary" href="/random_sequence" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Reverse Complementary</h5>
                            <p class="card-text">Get the reverse sequence.</p>
                            <a class="btn btn-secondary" href="/reverse_complementary" class="card-link">Try</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Extract CDS</h5>
                            <p class="card-text">Extract the CDS of a FASTA or a GenBank.</p>
                            <a class="btn btn-secondary" href="/cdsextract" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">GenBank to FASTA</h5>
                            <p class="card-text">Extract the sequences from a GenBank in a FASTA format.</p>
                            <a class="btn btn-secondary" href="./gbtofasta" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Split</h5>
                            <p class="card-text">Split a fasta.</p>
                            <a class="btn btn-secondary" href="/split_fasta" class="card-link">Try</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">DNA to Protein</h5>
                            <p class="card-text">Convert a DNA sequence into a Protein.</p>
                            <a class="btn btn-secondary" href="./dnatoprotein" class="card-link">Try</a> 
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">DNA to ARN</h5>
                            <p class="card-text">Convert a DNA sequence into a ARN sequence.</p>
                            <a class="btn btn-secondary" href="/dnatorna" class="card-link">Try</a>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Tiki Taka</h5>
                            <p class="card-text">Tiki takear</p>
                            <a class="btn btn-secondary" href="/blast" class="card-link">Try</a>
                        </div>
                    </div>
                </div>
    </div>
</body>

</html>
