<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="../static/orderByDate.js"></script>
  <script src="../static/index.js"></script>
  <script></script>
  <!--  CSS  -->
  <link href="../static/styles.css" rel="stylesheet">
</head>

<body>
  {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}
  <div class="center">
    <h1>Login</h1>
    <form method="POST" action="/login">
      <div class="txt_field">
        <input type="text" id="username" name="username" required>
        <span></span>
        <label for="usuario">Username:</label>
      </div>
      <div class="txt_field">
        <input type="password" id="password" name="password" required>
        <span></span>
        <label for="contrasena">Password:</label>
      </div>
      <input type="submit" value="Log In" class="btn btn-primary" />
      <p style="color: red">{{ message }}</p>
    </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>