<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="btn btn-outline-success"  aria-current="page" href="/home">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav><br>
    <div class="container">
      <h1>Register</h1>
      <form method="POST" action="/register">
        <div class="form-group" >
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" required placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
          <label for="surname">Surname:</label>
          <input type="text" class="form-control" id="surname" name="surname" required placeholder="Ingresa tu apellido">
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required placeholder="Ingresa tu nombre de usuario">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" required placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required placeholder="Ingresa tu contraseña">
        </div>
        <div class="form-group">
          <label for="role_id">Role:</label>
          <input type="number" class="form-control" id="role_id" name="role_id" value="1" required min="1" max="3"><br><br>
          {{ message }}
        </div>
        <input type="submit" class="btn btn-primary" value="Register"/>
        <input type="reset" class="btn btn-primary" value="Reset" /><br />
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
