<!DOCTYPE html>
<html>
  <head>
    <title>Registro con Bootstrap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Registro</h2>
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Ingresa tu nombre">
        </div>
        <div class="form-group">
          <label for="surname">Apellido:</label>
          <input type="text" class="form-control" id="surname" name="surname" placeholder="Ingresa tu apellido">
        </div>
        <div class="form-group">
          <label for="username">Nombre de usuario:</label>
          <input type="text" class="form-control" id="username" name="surname" placeholder="Ingresa tu nombre de usuario">
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="form-group">
            <label for="role_id">Role</label>
            <input type="number" class="form-control" id="email" name="role_id" placeholder="Ingresa tu correo electrónico">
        </div>

        <input type="submit" value="Register">
        </form>
        <p> {{message}}</p>
    </div>
    <div class="row-cols-4">
      <div class="col">
          <a class="btn btn-secondary"  href="/home" class="card-link">Return</a>
      </div>
  </div><br>
</body>